// Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.


import Foundation

extension Client: StyleguideAPI { 
    public func pageDetails(request: Operations.PageDetailsRequest) async throws -> Operations.PageDetailsResponse {
        return try await makeRequest(
            configureRequest: { configuration in
                try configurePageDetailsRequest(with: configuration, request: request)
            },
            handleResponse: handlePageDetailsResponse
        )
    }
    public func listPages(request: Operations.ListPagesRequest) async throws -> Operations.ListPagesResponse {
        return try await makeRequest(
            configureRequest: { configuration in
                try configureListPagesRequest(with: configuration, request: request)
            },
            handleResponse: handleListPagesResponse
        )
    }
}

// MARK: - Request Configuration

private func configurePageDetailsRequest(with configuration: URLRequestConfiguration, request: Operations.PageDetailsRequest) throws {
    configuration.path = "/styleguide/page/{pageId}"
    configuration.method = .get
    configuration.pathParameterSerializable = request
    configuration.telemetryHeader = .userAgent
}

private func configureListPagesRequest(with configuration: URLRequestConfiguration, request: Operations.ListPagesRequest) throws {
    configuration.path = "/styleguide/page"
    configuration.method = .get
    configuration.queryParameterSerializable = request
    configuration.telemetryHeader = .userAgent
}

// MARK: - Response Handlers

private func handlePageDetailsResponse(response: WriterResponse) throws -> Operations.PageDetailsResponse {
    var responseObject = Operations.PageDetailsResponse(
        contentType: response.contentType,
        statusCode: response.statusCode,
        rawResponse: response.httpResponse
    )
    
    if responseObject.statusCode == 200 { 
        // res.headers = r.headers
        if response.contentType.matchContentType(pattern: "application/json"), let data = response.data {
            do {
                responseObject.pageWithSectionResponse = try JSONDecoder().decode(Shared.PageWithSectionResponse.self, from: data)
            } catch {
                throw ResponseHandlerError.failedToDecodeJSON(error)
            }
        }
    } else if [400, 401, 403, 404, 500].contains(responseObject.statusCode) { 
        // res.headers = r.headers
        if response.contentType.matchContentType(pattern: "application/json"), let data = response.data {
            do {
                responseObject.failResponse = try JSONDecoder().decode(Shared.FailResponse.self, from: data)
            } catch {
                throw ResponseHandlerError.failedToDecodeJSON(error)
            }
        }
    }

    return responseObject
}

private func handleListPagesResponse(response: WriterResponse) throws -> Operations.ListPagesResponse {
    var responseObject = Operations.ListPagesResponse(
        contentType: response.contentType,
        statusCode: response.statusCode,
        rawResponse: response.httpResponse
    )
    
    if responseObject.statusCode == 200 { 
        // res.headers = r.headers
        if response.contentType.matchContentType(pattern: "application/json"), let data = response.data {
            do {
                responseObject.paginatedResultPagePublicApiResponse = try JSONDecoder().decode(Shared.PaginatedResultPagePublicApiResponse.self, from: data)
            } catch {
                throw ResponseHandlerError.failedToDecodeJSON(error)
            }
        }
    } else if [400, 401, 403, 404, 500].contains(responseObject.statusCode) { 
        // res.headers = r.headers
        if response.contentType.matchContentType(pattern: "application/json"), let data = response.data {
            do {
                responseObject.failResponse = try JSONDecoder().decode(Shared.FailResponse.self, from: data)
            } catch {
                throw ResponseHandlerError.failedToDecodeJSON(error)
            }
        }
    }

    return responseObject
}

