// Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.


import Foundation

extension Client: AIContentDetectorAPI { 
    public func detectContent(request: Operations.DetectContentRequest) async throws -> Operations.DetectContentResponse {
        return try await makeRequest(
            configureRequest: { configuration in
                try configureDetectContentRequest(with: configuration, request: request)
            },
            handleResponse: handleDetectContentResponse
        )
    }
}

// MARK: - Request Configuration

private func configureDetectContentRequest(with configuration: URLRequestConfiguration, request: Operations.DetectContentRequest) throws {
    configuration.path = "/content/organization/{organizationId}/detect"
    configuration.method = .post
    configuration.pathParameterSerializable = request
    configuration.contentType = "application/json"
    configuration.body = try jsonEncoder().encode(request.contentDetectorRequest)
    if configuration.body == nil {
        throw SerializationError.missingRequiredRequestBody
    }
    configuration.telemetryHeader = .userAgent
}

// MARK: - Response Handlers

private func handleDetectContentResponse(response: WriterResponse) throws -> Operations.DetectContentResponse {
    var responseObject = Operations.DetectContentResponse(
        contentType: response.contentType,
        statusCode: response.statusCode,
        rawResponse: response.httpResponse
    )
    
    if responseObject.statusCode == 200 { 
        // res.headers = r.headers
        if response.contentType.matchContentType(pattern: "application/json"), let data = response.data {
            do {
                responseObject.contentDetectorResponses = try JSONDecoder().decode([Shared.ContentDetectorResponse].self, from: data)
            } catch {
                throw ResponseHandlerError.failedToDecodeJSON(error)
            }
        }
    } else if [400, 401, 403, 404, 500].contains(responseObject.statusCode) { 
        // res.headers = r.headers
        if response.contentType.matchContentType(pattern: "application/json"), let data = response.data {
            do {
                responseObject.failResponse = try JSONDecoder().decode(Shared.FailResponse.self, from: data)
            } catch {
                throw ResponseHandlerError.failedToDecodeJSON(error)
            }
        }
    }

    return responseObject
}

